<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="notehome">
  <h1 class="note-heading">My Notes</h1>
  <div class="note-container">
      <h2 class="note-title"><b> <%= title %> </b></h2>
      <p> <%= content %> </p>
  </div>
</div>

<%- include('partials/footer') %>
